.question__card-button {
  background-color: var(--background-color);
  font-family: var(--primary-fonts);
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 30px;
  align-self: center;
}
