.question__card {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: var(--border-radius);
  width: 60%;
  margin: 20px 0 0 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.question__card-batch {
  height: 40px;
  position: absolute;
  top: calc(0% - 15px);
  left: calc(100% - 35px);
}

.category__quiz {
  list-style-type: none;
  gap: 20px;
  list-style: none;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.category__tag {
  font-family: var(--primary-fonts);
  background-color: darkgray;
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius);
  padding: 5px 10px;
}
