.question__card {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: var(--border-radius);
  width: 50%;
  min-height: 20em;
  margin: 1.25em 0 0 0.625em;
  padding: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.question__card-batch {
  height: 2.5em;
  position: absolute;
  top: calc(0% - 0.938em);
  left: calc(100% - 2.188em);
}

.category__quiz {
  list-style-type: none;
  gap: 1.25em;
  list-style: none;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.category__tag {
  font-family: var(--primary-fonts);
  background-color: lightgoldenrodyellow;
  font-weight: 600;
  font-kerning: normal;
  color: black;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.313em 0.625em;
}
