.profile__card {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: var(--border-radius);
  width: 50%;
  min-height: 20em;
  margin: 1.25em 0 0 0.625em;
  padding: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 1.65em;
  position: relative;
  width: 3.125em;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 0.25em;
  content: "";
  height: 1.25em;
  left: 0.25em;
  position: absolute;
  transition: 0.4s;
  width: 1.25em;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: var(--border-radius);
}

.slider.round:before {
  border-radius: 50%;
}
